@font-face {
  font-family: 'Aaargh';
  src: url("fonts/AaarghNormal.woff2") format("woff2"), url("fonts/AaarghNormal.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MOON GET!';
  src: url("fonts/moon_get-Heavy.woff2") format("woff2"), url("fonts/moon_get-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Keep Calm Med';
  src: url("fonts/KeepCalm-Medium.woff2") format("woff2"), url("fonts/KeepCalm-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

body {
  background-image: url("https://slack-imgs.com/?c=1&url=https%3A%2F%2Fplanetgallery.global.ssl.fastly.net%2Fweb%2Fmozambique-20170103-web.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 200vh;
  font-family: roboto;
  text-align: center; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.logo {
  height: 200px;
  width: 200px;
  background-image: url("imgs/Earthicon.png");
  background-repeat: no-repeat;
  background-size: 180px;
  margin-left: 20px;
  margin-top: 50px; }

.navigation {
  width: 80vw;
  height: auto;
  display: flex;
  justify-content: space-around; }
  .navigation ul {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px;
    height: auto;
    display: flex;
    align-items: center; }
    .navigation ul li {
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 15px;
      font-size: 2.1em;
      margin: 0 1vw;
      color: white;
      font-family: "Aaargh"; }

.signUp {
  height: 200px;
  width: 200px;
  background-image: url("imgs/signUpIcon.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 50px;
  right: 30px; }

h1 {
  font-size: 40px;
  font-family: "Keep Calm Med";
  text-shadow: 0px 2px 2px white;
  margin-bottom: 10px; }

.wtfWrapper {
  display: flex;
  justify-content: top;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 60vw;
  height: 1400px;
  margin-left: 20vw;
  border-radius: 20px;
  position: absolute; }

.powerStatement {
  display: block;
  font-size: 50px;
  margin-top: 30px;
  font-family: 'Keep Calm Med'; }

#download {
  display: block;
  font-size: 1.7em;
  position: relative;
  top: 20px;
  font-family: 'MOON GET!'; }

.searchGlobe {
  background-image: url("imgs/earthSearch.png");
  background-repeat: no-repeat;
  background-size: 200px;
  height: 200px;
  width: 200px;
  position: relative;
  left: 45px;
  top: 20px; }

.videoEarth {
  height: 131px;
  width: 276px;
  margin-top: 30px;
  background-image: url("imgs/videoEarth.png");
  background-repeat: no-repeat;
  background-size: 276px 131px; }

.bottomStatement {
  font-size: 2em;
  font-family: "Hiragino Sans"; }

#second_content {
  margin-top: 370px;
  height: 1030px; }
  #second_content .powerStatement {
    margin-top: 100px; }

#third_content {
  margin-top: 800px;
  height: 600px; }
  #third_content .powerStatement {
    margin-top: 100px; }
